* {
  margin: 0;
  padding: 0;
}

html {
  /* background: #212529; */
}

#root {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.75rem;
  /* background: #212529 !important; */
  background: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 390px;
  /* height: 844px; */
  height: 1060px;
  /* margin: 40px 30px; */
  /* background: #212529; */
  background: url("./bg.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.block-two-third {
  width: 600px;
  vertical-align: top;
  margin: 0 auto;
  padding-top: 50px;
}

.field-large {
  height: 495px;
  position: relative;
  padding: 30px 0;
  margin: 0.75rem 0 4rem;
  box-sizing: content-box;
}

.lineup {
  height: 32.45rem;
  position: relative;
  /* margin: 1rem 1rem 2rem; */
  left: 1rem;
}

.lineup2 {
  /* height: 32.45rem; */
  /* position: relative; */
  /* margin: 1rem 1rem 2rem; */
  /* left: 0.5rem; */
  /* top: 1rem; */
}

.field-avatar {
  width: 60px;
  height: 60px;
  position: relative;
  /* left: -15%; */

  transform: scale(1);
}

.field-teamlogo {
  width: 3.7rem;
  height: auto;
  /* height: 3rem; */

  /* transform: scale(1.08); */
}

.field-player {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.field-player img {
  /* image-rendering: auto; */
  /* width: 60px;
  height: 60px; */
}

.field-name {
  background: rgba(0, 0, 0, 0.75) !important;
  color: white;
  line-height: 1.2rem;
  width: 110px;
  border: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin: 0 0 0.05rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 20px 0 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue,
    helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;
  font-weight: bold;
}

.field-name img {
  /* width: 2rem; */
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
  }
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  width: 220px;
  flex-direction: column;
  position: relative;
}

.answer img {
  height: 65px;
  /* width: 80px; */
  position: absolute;
  left: 10px;
}

.answer .top {
  height: 28px;
  background: rgba(196, 247, 82);
  width: 100%;
}

.answer .center {
  height: 25px;
  background: rgba(0, 15, 47);
  width: 100%;
  font-size: 18px;
}

.answer span {
  margin-left: 60px;
}

.right {
  width: 50px;
  height: 50px;
  background: url("./right.png") no-repeat center top;
  background-size: cover;
  position: relative;
}

.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ant-modal-body {
  padding: 24px 4px !important;
}

.modal-show div {
  font-size: 26px;
  margin-top: 20px;
}

.modal-show p {
  margin-top: 30px;
  font-size: 20px;
}

.modal-show .res {
  color: red;
  word-break: break-all;
  padding: 0 5px;
}

.modal-show .name {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.congra {
  font-size: 20px;
  background: rgba(196, 247, 82);
}

.congra .item {
  margin-top: 5px;
  font-size: 20px;
}

.congra ol li {
  list-style-position: inside;
}
